@using MusicStoreSite.Models.Entities
@model Product

@{
    ViewBag.Title = "ProductDetails";
}

<h2>ProductDetails</h2>
<div>
    <span class="thumbnail">
        <img src="@Url.Content("~/Content/Images/placeholder.gif")" alt="Image" />
    </span>
</div>
<div>
    <span class="productFieldLabel">Genre: </span>
    @Html.LabelFor(model => model.Genre, Model.Genre)
</div>
<div>
    <span class="productFieldLabel">Artist: </span>
    @Html.LabelFor(model => model.Artist, Model.Artist)
</div>
<div>
    <span class="productFieldLabel">Price: </span>
    @Html.LabelFor(model => model.Price, Model.Price.ToString())
</div>
