@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    @if (ViewBag.ErrorCode != null)
    {
        <h1 class="error">@ViewBag.ErrorCode</h1>
    }
    else
    {
       <h1 class="error">Error.</h1>
    }

    @if (ViewBag.ErrorMessage != null)
    {
        <h2 class="error">@ViewBag.ErrorMessage</h2>
    }
    else
    {
       <h2 class="error">An error occurred while processing your request.</h2>
    }
</hgroup>
