.productFields {
    font-weight: bold;
    
}

.productFieldLabel {
    color: #6e4e3e;
}

h2 {
    color: #6e4e3e;
    font-style: italic;
}

table.newProducts {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

table.newProducts td{
    padding-top: 0px;
    margin-top: 0px;
    max-width: 120px;
    text-align: center;
}

div.logo {
    width: 90%;
}

div.newProducts {
    padding-top: 10px;
}

div.newProducts div.product {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    width: 150px;
}

.table > tbody > tr > td, .table > tbody > tr > th {
    border: 0;
}

.browsedItem {
    width: 130px;
    margin: 10px;
}

.loginFieldLabel, .orderFieldLabel {
    min-width: 120px;
}

.orderFieldLabel {
    min-height: 30px;
}
.navbar-nav {
    float: right;
}

input[type="text"], input[type="password"] {
    min-width: 300px;
}

li.active > form > a {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

div.admin {
    background-color: antiquewhite;
}

span.title {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    margin-left: -15px;
}

.album-cover-min {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}

.field-validation-error {
    color: #ff0000;
}